@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Inter', sans-serif;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: rgb(22, 4, 63);
}

/* Navigation Bar starts */
.navbar {
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: lavender; */
  transition: background-color 0.5s ease;
}

.navbar .container-wrapper {
  height: 100%;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* background-color: aqua; */
}

.navwrapper {
  /* width: 100%; */
  height: 100%;
  /* background-color: antiquewhite; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  padding: 0 20px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.navbar .logo a {
  color: black;
  font-size: 16px;
  text-decoration: none;
  order: 1;
  font-weight: 600;
}

.navbar .container-wrapper .logo img {
  height: 54px;
  width: 54px;
}

.navwrapper ul {
  display: flex;
  gap: 50px;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease;
}

.navwrapper ul li {
  list-style: none;
}

.navwrapper ul li a {
  text-decoration:none;
  color: rgb(22, 4, 63);
  font-weight: bold;
  font-size: 16px;
  transition: color 0.3s ease;
}

.navwrapper ul li a.active {
  text-decoration: underline;
  font-weight: bold;
}

.navwrapper ul li a:hover {
  color: white;
  background-color: rgb(22, 4, 63);;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.5s ease;
}

.navbar .container-wrapper .button-container button {
  padding: 10px 15px;
  background-color: rgb(255, 151, 59);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.navbar .container-wrapper .button-container button:hover {
  background-color: #e65c00;
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.navbar .container-wrapper .button-container button:active {
  background-color: green;
}

.menu-toggle {
  display: none; 
}

.hamburger {
  display: none; 
  font-size: 24px;
  cursor: pointer;
  color: rgb(22, 4, 63);
}

/* Navigation Bar ends */

/* Navbar Media query starts  */
@media (max-width: 980px) {

  .navwrapper ul {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 70px;
      right: 0px;
      background-color: rgb(255, 151, 59);
      /* border-radius: 8px; */
      width: 100%;
      /* transform: scale(1.05); */
      /* box-shadow: 0 8px 15px rgb(184, 197, 2); */
      transition: all 0.5s ease;
  }

  .menu-toggle:checked+.hamburger+ul {
      display: flex;
      row-gap: 20px;
      padding: 40px;
      /* transform: scale(1.05); */
      /* box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2); */
      /* transition-duration: 0.7s; */
  }

  .hamburger {
      /* order: 3; */
      display: block;
  }

  .logo {
      order: 2;
  }

  .navwrapper ul li {
      text-align: center;
      padding: 10px 0;
      gap: 30px;
      font-size: 30px;
      /* background-color: beige; */
  }

  .navwrapper ul li a {
      font-size: 16px;
      /* background-color: blueviolet; */
  }

  .button-container {
      order: 3;
  }

  .navbar .container-wrapper .button-container button {
      font-size: 14px;
      padding: 8px 12px;
      /* order: 3; */
  }
}

@media (max-width: 600px) {
  .navwrapper ul li a {
      font-size: 16px;
  }

  .navbar .container-wrapper .button-container button {
      font-size: 12px;
      padding: 6px 10px;
  }
}

@media (max-width: 510px) {
  .navwrapper ul li a {
      font-size: 16px;
  }

  .navbar .container-wrapper .button-container button {
      font-size: 10px;
      padding: 8px 6px;
  }

  .navbar .logo a {
      display: none;
  }

}

@media (max-width: 500px) {
  .navbar .container-wrapper .logo img {
      height: 34px;
      width: 34px;
  }
  .navwrapper ul li{
      /* align-items: left; */
      /* justify-content: start; */
      /* background-color: aquamarine; */
      padding: 0;
      position: relative;
      left: 40px;
  }
}
/* Navbar Media query ends  */

/* Heroic banner starts */
#hero {
  height: 450px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: orange;*/
}

#hero .hero-container-wrapper {
  height: 100%;
  width: 98%;
  background-color: blueviolet;
  background-image: url('../images/banner1.jpg');
  background-size: cover;
  background-position: top;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 30px;
  background-blend-mode: overlay;
  color: white;
}

#hero .hero-container-wrapper .hero-content {
  height: 70%;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-left: 140px;
  margin-top: 40px;
  background-color:rgba(151, 149, 149, 0.55);
  border-radius: 8px;
  /* background-color: yellowgreen;*/
  /*filter: blur(2px);*/

}

#hero .hero-container-wrapper .hero-content .button {
  height: 100%;
  width: 100%;
  /*background-color: aqua;*/
  display: flex;
  flex-direction: column-reverse;
  align-items: start;
  justify-content: center;
  margin-bottom: 20px;
}

#hero .hero-container-wrapper .hero-content:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
  transition-duration: 0.7s;
}

#hero .hero-content h3 {
  background-color: rgb(230, 92, 0);
  padding: 5px;
}

#hero .hero-content h1 {
  font-size: 50px;
  margin-bottom: 20px;
  color: white;
  /*background-color: aqua;*/
}

#hero .hero-content p {
  font-size: 16px;
  margin-bottom: 30px;
}

#hero .btn-primary {
  padding: 10px 20px;
  background-color: rgb(255, 151, 59);
  color: white;
  text-decoration: none;
  font-size: 18px;
  border-radius: 4px;
}

#hero .btn-primary:hover {
  background-color: #e65c00;
}

/* Heroic banner ends */

/*heroic banner Media Query starts */
@media screen and (max-width: 1020px) {
  #hero .hero-container-wrapper .hero-content {
      width: 50%;
      margin-left: 40px;
  }

  #hero .hero-content h1 {
      font-size: 40px;
  }

  #hero .hero-content p {
      font-size: 14px;
  }
}

@media screen and (max-width: 530px) {

  #hero .hero-container-wrapper {
    /* background-color: aquamarine; */
    display: flex;
    align-items: center;
    justify-content: center;
}

  #hero .hero-container-wrapper .hero-content {
      width: 50%;
      margin-left: 20px;
      margin-top: 20px;
  }

  #hero .hero-content h1 {
      font-size: 30px
  }

  #hero .hero-content p {
      font-size: 12px;
      margin-bottom: 20px;
  }

  #hero .btn-primary {
      padding: 8px 16px;
      font-size: 16px;
  }
}

/* Heroic banner media query ends */

/* Expert section starts */
.experts-section {
  height: auto;
  margin-top: 20px;
  /* background-color: orchid; */
  width: 100%;
}

.experts-section h1 {
  font-size: 36px;
  text-align: center;
  /* margin-bottom: 40px; */
  color: rgb(22, 4, 63);
}

.experts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.expert-card {
  display: flex;
  align-items: start;
  background: #ffffff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  /* background-color: #f39c12; */
}

.expert-card:hover {
  outline: 3px solid rgb(255, 151, 59);
  border-radius: 12px;
}

.expert-card img {
  width: 140px;
  height: 100px;
  border-radius: 12px;
  margin-right: 15px;
}

.expert-details {
  flex-grow: 1;
}

.expert-details h3 {
  font-size: 20px;
  margin: 0 0 5px;
}

.expert-details p {
  font-size: 12px;
  margin: 5px 0;
}

.expert-details .price {
  font-size: 14px;
  color: #f39c12;
  font-weight: bold;
}

.expert-details .rating {
  font-size: 12px;
  color: #777;
}

.favorite {
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
}

.favorite:hover {
  color: #f39c12;
}

.see-more {
  text-align: center;
  margin: 40px;
}

.see-more a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: black;
  /* background-color: rgb(255, 151, 59);*/
  /* border-radius: 5px; */
  text-decoration: underline; 
}

/* .see-more a:hover {
  background-color: #d35400;
} */

/* Expert section ends */

/* expert section media query */

@media (max-width: 1024px) {

  .experts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .experts-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .expert-card {
    padding: 15px;
    /* background-color: #e65c00; */
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .expert-details h3 {
    font-size: 18px;
  }

  .expert-details p {
    font-size: 14px;
  }

  .see-more a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .experts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .expert-card {
    /* padding: 20px; */
    width: 80%;
    /* margin-bottom: 20px; */
  }

  .experts-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }
}

@media (max-width: 640px) {

  .experts-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: 100%;
    overflow: hidden;
  }

  .expert-card {
    /* padding: 20px; */
    width: 80%;
    /* margin-bottom: 20px; */
  }

  .expert-card img {
    width: 140px;
    height: 100px;
  }

  .expert-details h3 {
    font-size: 16px;
  }

  .expert-details p {
    font-size: 12px;
  }

  .see-more a {
    font-size: 14px;
  }

  .experts-grid .expert-card:nth-child(n+5) {
    display: none;
  }

  .arrow-left,
  .arrow-right {
    display: block;
  }
}

@media (max-width: 480px) {
  .expert-card img {
    width: auto;
    height: 70px;
  }

  .see-more a {
    font-size: 12px;
  }

  .expert-details h3 {
    font-size: 14px;
  }

  .expert-details p {
    font-size: 10px;
  }
}

/* expert section media query ends */

/* Review section starts */

.reviews {
  height: auto;
  background-color: rgb(255, 151, 59);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

.reviews h2 {
  font-size: 24px;
  /* margin-bottom: 10px; */
  color: rgb(22, 4, 63);
}

.review-wrapper {
  height: auto;
  width: 80%;
}

.review-list {
  display: flex;
  justify-content: center;
  gap: 15px;
  /* margin-top: 20px; */
  position: relative;
}

.reviews-section {
  text-align: center;
}

.reviews-section h2 {
  font-size: 32px;
  margin-bottom: 20px;
  color: white;
}

.reviews-section p {
  font-size: 16px;
  margin-bottom: 30px;
  color: white;
  /* display: flex;
  align-items: center;
  justify-content: center; */
}

.review-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
}

.review-card {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-card img {
  width: 100%;
  height: 200px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.review-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #333;
}

.review-card p {
  font-size: 14px;
  color: rgb(22, 4, 63);
  margin-bottom: 15px;
  background-color: white;
  /* display: flex; */
  /* align-items: center; */
  text-align: center;
}

.review-footer {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: rgb(22, 4, 63);
}

.review-footer .rating {
  color: #ffcc00;
}

.review-footer .status {
  color: green;
  font-weight: bold;
}

/* .review-cards img{
  width: auto;
  height: 180px;
  margin-right: 20px;
} */

/* Arrows styling */
.arrow-left,
.arrow-right {
  position: absolute;
  top: 50%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 2;
}

.arrow-left {
  left: 10px;
  transform: translateY(-50%);
}

.arrow-right {
  right: 10px;
  transform: translateY(-50%);
}

.reviews {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Review section ends */

/* Review section media query starts */

@media (max-width: 1024px) {
  .review{
    height: auto;
  }
  .reviews h2 {
    font-size: 20px;
  }

  .review-cards {
    grid-template-columns: repeat(3, 1fr);
  }

  .review-card h3 {
    font-size: 18px;
    color: rgb(22, 4, 63);
  }

  .review-card p {
    font-size: 12px;
    color: rgb(22, 4, 63);
  }

  .review-footer {
    font-size: 12px;
  }

  .review-card img {
    width: 150px;
    height: 130px;
  }

  .reviews-section h2 {
    font-size: 28px;
  }

  .reviews-section p {
    font-size: 14px;
  }

  .arrow-left,
  .arrow-right {
    display: block;
  }
}

@media (max-width: 768px) {
  .review-cards {
    grid-template-columns: 1fr;
  }

  .review-card {
    padding: 15px;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .review-card p{
    text-align: center;
  }

  .review-card img {
    width: 150px;
    height: 130px;
  }

  .review-footer {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }

  .reviews-section h2 {
    font-size: 24px;
  }

  .reviews-section p {
    font-size: 14px;
  }

  .reviews h2 {
    font-size: 18px;
  }

  .arrow-left,
  .arrow-right {
    display: block;
  }
}

@media (max-width: 480px) {
  .reviews h2 {
    font-size: 16px;
  }

  .review-cards {
    grid-template-columns: 1fr;
  }

  .review-card {
    padding: 10px;
  }

  .review-card h3 {
    font-size: 16px;
  }

  .review-card p {
    font-size: 12px;
  }

  .review-footer {
    font-size: 12px;
  }

  .reviews-section h2 {
    font-size: 20px;
  }

  .reviews-section p {
    font-size: 12px;
  }

  img {
    width: 100px;
    height: 80px;
  }

  .arrow-left,
  .arrow-right {
    display: block;
  }
}

/* review section media query starts */

/* About expert starts */

.projects {
  background-color: white;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.projects .projects-wrapper {
  height: 100%;
  width: 80%;
  /* background-color: #d35400; */
}

.projects h1 {
  color: rgb(22, 4, 63);
  font-size: 36px;
}

.projects p {
  color: rgb(22, 4, 63);
  font-size: 20px;
}

.expert-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aquamarine; */
  margin-top: 40px;
}

h1 {
  margin-bottom: 10px;
  color: rgb(22, 4, 63);
  font-weight: bold;
  font-size: 24px;
  /* background-color: green; */
}

.service-card {
  display: flex;
  align-items: center;
  gap: 20px;
  /* background-color: green; */
}

.profile img {
  width: 140px;
  height: 120px;
  border-radius: 10px;
}

.expert-details {
  flex-grow: 1;
}

.info h3 {
  font-size: 20px;
  margin: 0 0 5px;
}

.info p {
  font-size: 12px;
  margin: 5px 0;
}

.info .price {
  font-size: 14px;
  color: #f39c12;
  font-weight: bold;
}

.info .rating {
  font-size: 12px;
  color: #777;
}

.price {
  color: #f39c12;
  font-weight: bold;
}

.rating {
  color: #f39c12;
  font-size: 14px;
}

.about h3 {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(22, 4, 63)
}

.about p {
  font-size: 16px;
}

.see-more {
  display: block;
  margin: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
}

.gallery {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
}

.gallery img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
}

.see-more-about {
  text-align: center;
  margin: 40px;
}

.see-more-about a {
  display: inline-block;
  padding: 10px 20px;
  font-size: 14px;
  color: black;
  font-weight: 900;
  /* background-color: rgb(255, 151, 59); */
  /* border-radius: 5px; */
  text-decoration: underline;
}

/* .see-more-about a:hover {
  background-color: #d35400;
} */

/* About experts ends */
/* About expert media query starts */

@media (max-width: 1024px) {
  .service-card {
    flex-direction: column;
    align-items: center;
  }

  .profile img {
    width: 140px;
    height: 120px;
  }

  .info h3 {
    font-size: 18px;
  }

  .info p {
    font-size: 14px;
  }

  .gallery img {
    width: 200px;
    height: 200px;
  }

  .bi-arrow-left-circle,
  .bi-arrow-right-circle {
    font-size: 36px;
  }

  .see-more-about a {
    font-size: 16px;
  }
}

@media (max-width: 800px) {
  .service-card {
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .profile img {
    width: 140px;
    height: 120px;
  }

  .info h3 {
    font-size: 16px;
  }

  .info p {
    font-size: 14px;
  }

  .gallery img {
    width: 150px;
    height: 150px;
  }

  .bi-arrow-left-circle,
  .bi-arrow-right-circle {
    font-size: 30px;
  }

  .see-more-about a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  /* .projects{
    background-color: #ffcc00;
  }
  .expert-container{
    background-color: #777;
  } */
  .projects h1 {
    font-size: 28px;
  }

  .projects p {
    font-size: 16px;
  }

  .service-card {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .profile img {
    width: 60px;
    height: 60px;
  }

  .info h3 {
    font-size: 14px;
  }

  .info p {
    font-size: 12px;
  }

  .gallery img {
    width: 70px;
    height: 70px;
  }

  .bi-arrow-left-circle,
  .bi-arrow-right-circle {
    font-size: 24px;
  }

  .see-more-about a {
    font-size: 12px;
  }
}

/* About expert media query ends */

/* Footer section starts */
.footer {
  background-color:rgb(22, 4, 63);
  color: #fff;
  /* padding: 40px 20px; */
  /* margin-top: 40px; */
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer .footer-container {
  height: 100%;
  width: 80%;
  display: flex;
  margin-top: 40px;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;
  /* background-color: aqua; */
}

.footer-section {
  width: 23%;
  margin-bottom: 20px;
  /* background-color: bisque; */
}

.footer-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section a {
  color: #ddd;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-section a:hover {
  color: #fff;
  text-decoration: underline;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-bottom {
  text-align: center;
  padding: 20px;
  /* background-color:rgb(255, 151, 59); */
  margin-top: 20px;
}

.footer-bottom p {
  font-size: 14px;
  color: #ddd;
}
/* Footer section ends */
/* Footer Media query starts*/
@media (max-width: 1200px) {
  .footer-section {
      width: 48%;
  }
}

@media (max-width: 768px) {
  .footer-section {
      width: 100%;
  }

  .footer .footer-container {
      flex-direction: column;
      align-items: center;
  }

  .footer-bottom {
      text-align: center;
      margin-top: 20px;
  }
}
/* Footer Media query ends*/