@import url(https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap);

* {
    padding: 0px;
    margin: 0px;
    font-family: 'Inter', sans-serif;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Navigation Bar starts */
.navbar {
    height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar .container-wrapper {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.navbar .logo a {
    color: rgb(22, 4, 63);
    font-size: 16px;
    text-decoration: none;
    order: 1;
    font-weight: 600;
}

.navbar .container-wrapper .logo img {
    height: 54px;
    width: 54px;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links a {
    color: rgb(22, 4, 63);
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
}

.navbar .nav-links a:hover {
    color: #ffffff;
    background-color: rgb(22, 4, 63);
    border-radius: 4px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.navbar .nav-links a.active {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 2px solid rgb(22, 4, 63);
}

.navbar .container-wrapper .button-container button {
    padding: 10px 15px;
    background-color: rgb(255, 151, 59);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 16px;
    border-radius: 4px;
}

.navbar .container-wrapper .button-container button:hover {
    background-color: #e65c00;
    transform: scale(1.05);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 0.7s;
}

.navbar .container-wrapper .button-container button:active {
    background-color: green;
    /* transition-duration: 0.7s; */
}

#menu-toggle {
    display: none;
}

.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 4px;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: rgb(22, 4, 63);
}
/* Navigation Bar ends */

/* Media query- Navbar */
@media only screen and (max-width: 930px) {
    .container-wrapper {
        justify-content: space-evenly;
    }

    .nav-links {
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        background-color: #fff;
        flex-direction: column;
        text-align: left;
        padding-left: 20px;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-in-out;
    }

    .nav-links li {
        margin: 15px 0;
    }

    .hamburger {
        display: flex;
    }

    .navbar .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .button-container {
        position: absolute;
        right: 40px;
    }
}

